h1 {
  text-decoration: underline;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  width: 100%;
}

#app {
  table {
    cursor: default;

    font-family: arial;
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;

    table-layout: fixed;

    colgroup {
      col.icon-col {
          width: 18px;
      }

      col.bots {
          width: 20px;
      }

      col.players {
        width: 20px;
      }

      col.sep {
        width: 5px;
      }

      col.max-players {
        width: 20px;
      }

      col.game {
        width: 50px;
      }

      col.map {
        width: 100px;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    td.icon-col, td.players, td.bots {
      text-align: center;
      vertical-align: center;
    }

    thead tr {
      user-select: none;
      background: hsla(0, 0%, 40%, 1);
      border-bottom: 1px hsla(0, 0%, 10%, 1) solid;

      td {
        user-select: none;
        border: 1px hsla(0, 0%, 30%, 1) solid;
        border-width: 0 1px;

        padding: 2px;

        &.selected {
          background: hsla(0, 0%, 30%, 1);
          color: hsla(0, 0%, 80%, 1);

          position: relative;

          .col-sort-arrow {
            display: inline-block;
            width: 10px;
            height: 10px;
            float: right;

            position: absolute;
            top: 7px;
            right: 5px;

            border: 5px transparent solid;

            &.up {
              border-top: 10px hsla(0, 0%, 80%, 1) solid;
              border-bottom: 0;
            }

            &.down {
              border-bottom: 10px hsla(0, 0%, 80%, 1) solid;
              border-top: 0;
            }
          }
        }

        &.icon-col {
          padding: 0;
          border: 0;
        }
      }
    }

    tbody tr {
      overflow: hidden;
      white-space: nowrap;

      background: hsla(0, 0%, 60%, 1);
      &:nth-child(even) {
        background: hsla(0, 0%, 70%, 1);
      }

      &.selected {
        background: hsla(0, 0%, 30%, 1);
        color: hsla(0, 0%, 90%, 1);
      }

      td {
        padding: 0.4em 0;
        font-size: 12px;

        &.player-cnt {
          text-align: right;
        }

        &.bots {
          text-align: center;
        }

        &.player-sep {
          text-align: center;
        }

        &.player-cnt, &.player-sep, &.max-players {
          border: 0;
          padding: 0;
          margin: 0;
        }

        &.keys {
          overflow: hidden;
        }

        &.keys ul {
          display: inline;
          list-style: none;

          li {
            display: inline;

            &:after {
              content: ",";
            }

            &.icon:after {
              content: "";
            }

            &:last-child:after {
              content: "";
            }
          }
        }
      }
    }
  }
}
